<mat-toolbar class="dashboardToolBar">
  <div class="iconAndTitle">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <img class="fundooIcon" src="../../../assets/fundoo_dp.png">

    <div class="dashboardTitle">{{headerName}}</div>

  </div>

  <div class="searchToolBar">

    <button mat-icon-button>
      <mat-icon class="mat-18">search</mat-icon>
    </button>
    <input class="searchInputBar" type="text" placeholder="search">

  </div>

  <div class="endToolBar">

    <button mat-icon-button matTooltip="{{viewTooltip}}">
      <mat-icon class="mat-18" (click)="toggleGridList()">{{icon}}</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="mat-18">settings</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="mat-18">apps</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="mat-18">notifications_none</mat-icon>
    </button>

  </div>

  <button class="accountButton" [matMenuTriggerFor]="accountMenu">{{nameFirstLetter}}</button>

</mat-toolbar>

<mat-divider></mat-divider>

<mat-menu #accountMenu="matMenu">
  <!-- <ng-template> -->

  <div class="accountMenu">

    <div class="accountMenuImageDiv">
      <button type="file" class="accountMenuImage" matTooltip="Change Image">{{accountImage}}<b>{{nameFirstLetter}}</b></button>
    </div>



    <div class="accountMenuItems">

      <div class="accountMenuName"><b>{{name}}</b></div>

      <div class="accountMenuEmail">{{email}}</div>

      <button mat-menu-item (click)="logout()" matTooltip="Logout" class="accountMenuLogoutButton">
        <mat-icon class="mat-18">power_settings_new</mat-icon> Logout
      </button>

    </div>

  </div>

</mat-menu>

<mat-sidenav-container class="sidenavBar">

  <mat-sidenav #sidenav mode="side" opened="true" style="min-width:50px;" class="sideNav">

    <mat-nav-list class="sideNavList">

      <div>
        <button mat-button [routerLink]="['addNote']" (click)="headerName='Fundoo Notes'" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
          <mat-icon>lightbulb_outline</mat-icon> Notes
        </button>
      </div>

      <div>
        <button mat-button [routerLink]="['reminder']" (click)="headerName='Reminders'" [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
          <mat-icon>notifications_none</mat-icon> Reminders
        </button>
      </div>
      <mat-divider></mat-divider>

      <!-- <div *ngIf="userLabels">


      </div> -->

      <div>
        <button mat-button (click)="openEditLabelDialog()" (click)="headerName='Edit Label'" [ngClass]="{'sideNavListItems': headerName!='Edit Label', 'sideNavlistItemsColored': headerName=='Edit Label'}">
          <mat-icon>edit</mat-icon>Edit Labels
        </button>
      </div>
      <mat-divider></mat-divider>
      <div>
        <button mat-button [routerLink]="['archive']" (click)="headerName='Archive'" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
          <mat-icon>archive</mat-icon> Archive
        </button>
      </div>

      <div>
        <button mat-button [routerLink]="['trash']" (click)="headerName='Trash'" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
          <mat-icon>delete</mat-icon> Trash
        </button>
      </div>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="sideNavContent">

    <router-outlet></router-outlet>


  </mat-sidenav-content>

</mat-sidenav-container>
