<div [class]="item" (mouseover)="showButton=true" (mouseout)="showButton=false" class="noteCard">

  <mat-card [ngStyle]="{'backgroundColor': item.color}">

    <div>

      <mat-card-header>

        <mat-card-title (click)="openEditDialog(item)">{{item.title}}</mat-card-title>

        <button class="pinIcon" mat-icon-button matTooltip="Pin/Unpin Note" (click)="pin(item)">

          <ng-container *ngIf="item.pin; else elsePinTemplate">

            <svg-icon [src]="pinnedIconSrc"> </svg-icon>

          </ng-container>

          <ng-template #elsePinTemplate>

            <svg-icon [src]="unpinnedIconSrc"> </svg-icon>

          </ng-template>


        </button>


      </mat-card-header>

      <!-- <img matCardImage src="Card wide image source"> -->

      <mat-card-content (click)="openEditDialog(item)">{{item.body}}</mat-card-content>

    </div>

    <div *ngIf="item.reminder">
      {{item.reminder}}
      <button mat-button class="deleteReminderIcon" (click)="deleteReminder(item)">
        <mat-icon class="deleteReminderIcon">cancel</mat-icon>
      </button>
    </div>

    <mat-card-actions align="start">

      <button mat-icon-button matTooltip="Remind me" (click)="toggleReminderMenu()">
        <mat-icon class="cardIcon">notifications</mat-icon>
      </button>

      <div class="reminderMenu" *ngIf="reminderMenuBool">

        <span>Reminder:</span>

        <div>
          <input [(ngModel)]="inputDate" class="setReminderInput" matInput [matDatepicker]="picker" placeholder="Choose a date"
            autocomplete="off" value="{{inputDate}}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>


        <div>

          <input matInput [(ngModel)]="inputTime" value="{{inputTime}}" class="setReminderInput" atp-time-picker
            autocomplete="off" placeholder="Set time">
          <mat-icon class="mat-18">access_time</mat-icon>

        </div>

        <button mat-button (click)="setReminder(item)">Set Reminder</button>

      </div>

      <button mat-icon-button matTooltip="Collaborator">
        <mat-icon class="cardIcon">person_add_outline</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu" [matMenuTriggerData]="{item:item}">
        <mat-icon class="
        cardIcon">color_lens</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Add image">
        <mat-icon class="cardIcon">photo</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Archive" (click)="archive(item)">

        <ng-container *ngIf="item.archive; else elseTemplate">
          <mat-icon class="cardIcon">unarchive</mat-icon>
        </ng-container>

        <ng-template #elseTemplate>
          <mat-icon class="cardIcon">archive</mat-icon>
        </ng-template>

      </button>

      <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu" [matMenuTriggerData]="{item:item}">
        <mat-icon class="cardIcon">more_vert</mat-icon>
      </button>

    </mat-card-actions>

  </mat-card>

</div>

<mat-menu #moreMenu="matMenu">

  <ng-template matMenuContent let-item="item">

    <button mat-menu-item (click)="addTrash(item)"> Delete Note </button>

    <button mat-menu-item> Add Label </button>

  </ng-template>

</mat-menu>

<mat-menu #colorMenu="matMenu" class="colorMenu">

  <ng-template matMenuContent let-item="item">

    <div *ngFor="let color of colorCode">

      <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode,item)">

        <mat-icon class="colorIcons">fiber_manual_record</mat-icon>

      </button>

    </div>

  </ng-template>

</mat-menu>
