.item {

  min-width: 240px;
  min-height: 104px;
}

.pinIcon {
  height: 10px;
  margin-left: auto;
}

/deep/ .colorMenu .mat-menu-content div {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
  font-size: 10px;
}

.noteCard {
  width: 200px;
}

.cardIcon {
  font-size: 21px;
}

.reminderMenu,
.dateMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10; // display: none;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  padding: 10px; // top: 200px;
  // width: 120%;
  font-size: 14px !important;
  margin: 0;
  background-color: aliceblue; // position: fixed
}
