<!-- <div fxLayout="row"> -->
<div class="center" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="my-card">
    <div fxLayoutAlign="center center">
      Register
    </div>
    <form class="my-form">
      <!--FORM FIELDS -->
      <mat-card-content>
        <form class="my-form">
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput [formControl]='firstName' placeholder="First Name" name="fname" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput [formControl]='lastName' placeholder="Last Name" name="lname" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input matInput [formControl]='address' placeholder="Address" name="address" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]='email' placeholder="Email" name="email" required>
          </mat-form-field>

          <!-- <mat-form-field class="full-width">
            <input matInput [formControl]='Password' placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field> -->

          <!-- <div class ="form-group" [class.has-error]="password.touched && password.invalid">
            <label for="password" class="control-label"> Password</label>
            <input name=
          </div> -->

          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [formControl]='password' placeholder="Password" type="password" name="password" required>
          </mat-form-field>
        </form>
      </mat-card-content>
    </form>
    <!-- <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
    </div> -->

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button (click)="register()" color="primary">Regsiter</button>
      <button mat-raised-button (click)="redirectTo()" color="primary">Existing User</button>
    </div>
  </mat-card>
</div>
<!-- </div> -->
