<div align = "center">
  <mat-toolbar>

      <span>Registration</span>

  </mat-toolbar>


  <!-- <form align="center"> -->
  <mat-card class="my-card">
    <mat-card-content>

      <!-- CONTENT  -->
      <!-- <mat-toolbar>
      <span>Registration</span>
    </mat-toolbar> -->
      <mat-card class="my-card">
        <mat-card-content>
          <form class="my-form">
            <!--FORM FIELDS -->

            <mat-card-content>
              <form class="my-form">
                <mat-form-field class="full-width">
                  <mat-label>First Name</mat-label>
                  <input matInput [formControl]='firstName' placeholder="First name" name="fname" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Last Name</mat-label>
                  <input matInput [formControl]='lastName' placeholder="Last Name" name="lname" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Address</mat-label>
                  <input matInput [formControl]='Address' placeholder="Address" name="address" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input matInput [formControl]='Email' placeholder="Email" name="email">
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input matInput [formControl]='Password' type = "Password" name="password">
                </mat-form-field>
              </form>
            </mat-card-content>

          </form>

        </mat-card-content>
        <!-- <mat-card-actions> -->
          <!--REGISTER BUTTON -->
          <!-- <section class="example-section"> -->
            <!-- <label class="example-margin" [formControl]='Gender'>Gender:</label> -->
            <!-- <label class="example-margin" >Gender:</label>
            <mat-radio-group [(ngModel)]="gender">
              <mat-radio-button class="example-margin" value="after" >Male</mat-radio-button>
              <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
              <mat-radio-button class="example-margin" value="before">Other</mat-radio-button> -->
              <!-- <mat-radio-button class="example-margin" value="after" [formControl]='Male' >Male</mat-radio-button>
              <mat-radio-button class="example-margin" value="before" [formControl]='Female'>Female</mat-radio-button>
              <mat-radio-button class="example-margin" value="before" [formControl]='Other'>Other</mat-radio-button> -->
            <!-- </mat-radio-group> -->
          <!-- </section> -->

          <!-- <mat-form-field>
            <mat-label>Date of Birth</mat-label> -->
            <!-- <input matInput [formControl]='Date' [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle [formControl]='Gender' matSuffix [for]="picker"></mat-datepicker-toggle> -->
            <!-- <input matInput  [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->

        <!-- </mat-card-actions> -->
      </mat-card>

    </mat-card-content>
    <mat-card-actions>
      <!-- REGISTER BUTTON -->
      <mat-card-content>
        <form class="my-form">
          <!--FORM FIELDS-->
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
      </mat-card-actions>

    </mat-card-actions>
  </mat-card>
  <!-- </form> -->
</div>
