.formgroup{
    background-color: #ffffffab;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-top: 8%;
    border: 1px solid;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 5px 5px 5px #000000ab;
    
    
}
h1{
    margin: auto;
	text-shadow: 1px 1px 1px #555753ab;
}

.registerButton{
    background: linear-gradient(to right, #00deff, #0034a9);
    border-radius: 50px;
     color: #f9f4f4;
     margin-top: 5px;
 }
 
 .registerButton:hover {
     opacity: 0.7s;
 }